@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: "Wremena-Light";
  src: url("Wremena-Light.woff2") format("woff2"),
    url("Wremena-Light.woff") format("woff"),
    url("Wremena-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Wremena";
  src: url("Wremena.woff2") format("woff2"), url("Wremena.woff") format("woff"),
    url("Wremena.ttf") format("truetype");
}
@font-face {
  font-family: "Wremena-Bold";
  src: url("Wremena-Bold.woff2") format("woff2"),
    url("Wremena.woff") format("woff"),
    url("Wremena-Bold.ttf") format("truetype");
}

img {
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

a {
  font-family: "Wremena";
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

p {
  font-family: "Wremena-Light";
  font-size: 1.6rem;
  line-height: 1.6;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
}

:root {
  --dominant-color: #98ad9b;
  --secondary-color: #7e93b0;
  --background-color: white;
  --accent-color-1: #c4c4c4;
  --accent-color-2: #000;
}
/* Header */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  padding: 1rem;
}

.glh-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 5%;
  right: 1rem;
  flex-basis: 5%;
}

.glh {
  font-size: unset;
  text-align: center;
}

.logo {
  width: 70%;
  cursor: pointer;
}

.glh-name {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-basis: 90%;
  z-index: 4;
}

.company-name {
  font-size: 2rem;
  opacity: 0.9;
  letter-spacing: 0.3rem;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.company-name:hover {
  letter-spacing: 0.4rem;
}

/* Nav */

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: khaki; */
  flex-basis: 5%;
  height: inherit;
  position: fixed;
  left: 0;
  width: 5%;
  top: 0;
  height: 10vh;
  z-index: 10;
}

input {
  display: none;
}

.open {
  background-color: #3c3c3c;
  width: 2.4rem;
  height: 0.1rem;
  display: block;
  cursor: pointer;
  position: relative;
}

.open:before {
  content: "";
  background-color: #3c3c3c;
  width: 1.7rem;
  height: 0.1rem;
  display: block;
  position: relative;
  top: -0.5rem;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #3c3c3c;
  width: 1.7rem;
  height: 0.1rem;
  display: block;
  position: relative;
  top: 0.5rem;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  display: block;
  cursor: pointer;
}

.menuOpen:hover .open:before {
  width: 2.4rem;
}

.menuOpen:hover .open:after {
  width: 2.4rem;
}

@keyframes expand {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.toggle-trans {
  background: var(--dominant-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 1500ms ease-out forwards;
  z-index: 4;
}

.toggle-container {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
  animation: expand 1400ms ease forwards;
  z-index: 4;
}

.toggle-navigation {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

#menuToggle {
  cursor: pointer;
}

#menuToggle:checked ~ .menuEffects .navigation-list {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: black;
  transform: rotate(45deg);
  width: 2.4rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: black;
  transform: rotate(-45deg);
  width: 2.4rem;
  position: relative;
  top: 0;
  right: 0;
  z-index: 3;
}

#menuToggle:not(:checked) ~ .menuEffects .navigation-list {
  transform: translateY(-30%);
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.toggle-links-Home,
.toggle-links-Villa.Projects,
.toggle-links-Contact {
  text-decoration: none;
  color: var(--accent-color-2);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 12rem;
  letter-spacing: 0.2rem;
}

.underline-Home,
.underline-Villa.Projects,
.underline-Contact {
  position: relative;
  display: block;
  cursor: pointer;
}

.underline-Home::before,
.underline-Villa.Projects::before,
.underline-Contact::before,
.underline-Villa.Projects::after,
.underline-Contact::after,
.underline-Home::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5rem;
  top: 62%;
  margin-top: -0.5px;
  background: #fff;
  z-index: -2;
}

.underline-Home::before,
.underline-Villa.Projects::before,
.underline-Contact::before {
  left: -2.5px;
}

.toggle-links-Home .underline-Home::after,
.toggle-links-Villa.Projects .underline-Villa.Projects::after,
.toggle-links-Contact .underline-Contact::after {
  right: 2.5px;
  background: #dbdfe4;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links-Home .underline-Home:hover::before,
.toggle-links-Villa.Projects .underline-Villa.Projects:hover::before,
.toggle-links-Contact .underline-Contact:hover::before {
  background: var(--secondary-color);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links-Home .underline-Home:hover::after,
.toggle-links-Villa.Projects .underline-Villa.Projects:hover::after,
.toggle-links-Contact .underline-Contact:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* Landing */
.expand-transition {
  background: var(--secondary-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 1500ms ease-out forwards;
  z-index: 4;
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.landing-container {
  top: 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: transitionIn 1000ms;
  height: 80vh;
}

.pinterest-contact,
.email-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-basis: 5%;
  z-index: 2;
}

.pinterest-contact {
  transform: rotate(-90deg);
  left: 0;
  width: 5%;
  height: 90vh;
  bottom: 0;
}

.pinterest-account,
.glh-email {
  cursor: pointer;
  opacity: 0.8;
}

.pinterest-account:hover,
.glh-email:hover {
  letter-spacing: 0.1rem;
  font-family: "Wremena-Bold";
}

.canggu-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-basis: 90%;
  max-width: 90%;
}

.pool-div {
  display: flex;
  align-items: center;
  width: 3000px;
  height: 621px;
}

.reno-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 621px;
}

.reno-title,
.reno-description,
.view-project,
.reno-location {
  display: flex;
  position: relative;
  padding-left: 1rem;
}

.reno-title {
  flex-basis: 20%;
}

.reno {
  font-size: 6rem;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  position: relative;
  text-align: end;
}

.reno-location {
  flex-basis: 15%;
  align-items: flex-start;
}

.r-location {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: var(--dominant-color);
  opacity: 0.6;
  font-weight: 600;
}

.reno-description {
  flex-basis: 15%;
  /* background: wheat; */
  text-align: end;
}

.r-descrip {
  line-height: 1.6;
  font-size: 1.6rem;
}

.reno-location,
.view-project {
  justify-content: flex-end;
}

.view-canggu {
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-align: center;
  background-color: black;
  font-family: "Wremena";
  border: 1px solid black;
  padding: 1.3rem 3rem;
  border-radius: 4rem;
  box-shadow: 1px 2px 1px #555;
}

.view-canggu:hover {
  font-weight: 800;
}

.email-contact {
  transform: rotate(90deg);
  right: 0;
  width: 6.5%;
  bottom: 0;
  height: 90vh;
}

/* About */

.about-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  top: 0;
  bottom: 0;
}

.about-column {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-basis: 90%;
  width: 90%;
}

.about-left,
.about-right {
  display: flex;
  position: relative;
  flex-basis: calc(100% / 2);
  height: 80vh;
}

.about-left {
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.contractor-name {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.grants-name {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Playfair Display", serif;
  letter-spacing: 1rem;
}

.underline {
  background: black;
  text-align: center;
  width: 20%;
  height: 0.1rem;
}

.about-bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-basis: 50%;
}

.about-grant,
.about-grant-2,
.twenty-years {
  width: 65%;
  text-align: justify;
  font-family: "Wremena-Light";
  font-size: 1.6rem;
}

.about-grant-2 {
  padding-top: 2rem;
}

.grant-image {
  position: relative;
  display: flex;
  align-items: center;
}

.granite {
  max-height: 80vh;
  box-shadow: 4px 4px 5px 2px #555;
}

.about-button {
  display: flex;
  justify-content: center;
}

.a-button {
  text-decoration: none;
  color: black;
  border-radius: 4rem;
  border: 1px solid black;
  padding: 1.5rem 4rem;
}

.a-button:hover {
  background-color: black;
  border: 1px solid black;
  box-shadow: 1px 2px 5px #555;

  color: white;
}

/* Services */

.services-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
}

.services-title-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 35vh;
  width: 100%;
}

.service-title {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  position: relative;
}

.underline-1 {
  background: black;
  width: 20%;
  height: 0.1rem;
}

.services-button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.s-button {
  border-radius: 4rem;
  border: 1px solid black;
  padding: 1.5rem 4rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.s-button:hover {
  background-color: black;
  color: white;
  box-shadow: 1px 2px 5px #555;
}

.cards-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-basis: 50%;
  height: 65vh;
  width: 100%;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  position: relative;
  flex-basis: 30%;
}

.card-1,
.card-3 {
  background: #dbdfe4;
  border-radius: 8rem 0rem;
  box-shadow: -1px 3px 5px #555;
}

.service-number-1,
.service-number-2,
.service-number-3,
.service-type-1,
.service-type-2,
.service-type-3 {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}

.service-description-1,
.service-description-2,
.service-description-3 {
  display: flex;
  justify-content: center;
  flex-basis: 60%;
}

.s-number {
  font-size: 9rem;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}

.s-type {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-family: "Wremena-Bold";
  font-weight: 800;
}

.s-description {
  padding: 1rem;
  font-family: "Wremena-Light";
  width: 85%;
  text-align: center;
}

/* Before After */

.before-after-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;
  width: 100%;
}

.project-card-container {
  display: flex;
  position: relative;
  width: 90%;
  height: 90vh;
}

.project-card {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.before-after-title .villa-name-container,
.next-button-container {
  position: relative;
  display: flex;
  flex: 1;
}

.b-a-title {
  flex: 1;
  position: absolute;
  font-family: "Playfair Display", serif;
  z-index: 2;
}

.villa-name-container {
  padding-top: 5rem;
}

.villa-name {
  position: absolute;
  top: 7rem;
  text-transform: capitalize;
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: var(--dominant-color);
  width: 90%;
  font-weight: 600;
  opacity: 0.6;
  z-index: 2;
}

.villa-content-container {
  display: flex;
  position: relative;
  align-items: center;
}

.villa-button-container {
  display: flex;
  position: absolute;
  align-items: flex-end;
  cursor: pointer;
  z-index: 2;
  width: 30%;
  flex: 1;
  bottom: 2rem;
}

.button-inner {
  display: flex;
  width: 100%;
}

.see-villa-button,
.before-button,
.after-button {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  color: white;
  padding: 1.5rem 2rem;
  cursor: pointer;
  left: 7%;
  font-family: "Wremena";
}

.see-villa-button {
  background-color: black;
  border-radius: 4rem 0 0 4rem;
}

.before-button {
  border-left: 1px solid #000;
  border-right: 1px solid #555;
  background: #000;
}

.go-green {
  background-color: var(--dominant-color);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  color: white;
  padding: 1.5rem 2rem;
  cursor: pointer;
  left: 7%;
}

.go-green-after {
  border-radius: 0 4rem 4rem 0;
  background-color: var(--accent-color-2);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  color: white;
  padding: 1.5rem 2rem;

  cursor: pointer;
  left: 7%;
}

.before-button:hover,
.after-button:hover,
.go-green-after:hover,
.see-villa-button:hover {
  background-color: var(--dominant-color);
}

.see-villa-button {
  text-decoration: none;
}
.after-button {
  border-radius: 0 4rem 4rem 0;
  background-color: var(--dominant-color);
}

.after-button:hover,
.go-green-after:hover {
  border-left: 1px solid #000;
}

.villa-image-container {
  position: relative;
  flex: 4;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.villa-image {
  max-width: 80%;
  max-height: 80vh;
  /* opacity: 0.9; */
}

.next-button-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 1rem 0rem; */
}

.next-button-left,
.next-button-right {
  display: flex;
  justify-content: center;
  width: 5%;
  cursor: pointer;
  padding: 1rem;
}

.next-button-left:hover,
.next-button-right:hover {
  background-color: var(--dominant-color);
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  min-width: 50%;
  max-width: 50%;
}

.left-arrow {
  transform: rotate(90deg);
}

.right-arrow {
  transform: rotate(-90deg);
}

/* Sidebar */

.preview-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0rem;
}
.pl-arrow,
.pr-arrow {
  display: flex;
  position: absolute;
  z-index: 2;
  color: black;
  max-width: 5%;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.pl-arrow:hover,
.pr-arrow:hover {
  font-size: 3.1rem;
}

.pl-arrow {
  left: 0rem;
}

.pr-arrow {
  right: 0rem;
}

.prev-arrow {
  cursor: pointer;
}

.preview-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.villa-card,
.villa-card-middle {
  flex-direction: column;
}

.villa-card-middle {
  margin: 0 1rem;
}

.preview-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.preview-image {
  width: 100%;
}

.side-bar {
  display: flex;
  justify-content: center;
}

.sub-link-tumbak.bayuh,
.sub-link-cemagi,
.sub-link-loft,
.sub-link-alive,
.villa-details-container {
  display: flex;
  position: relative;
}

.preview-card {
  width: 90%;
  display: flex;
  position: relative;
}

.preview-card {
  height: 85vh;
}

.villa-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.villa-tumbak.bayuh,
.villa-cemagi,
.villa-loft,
.villa-alive,
.villa-canggu {
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  opacity: 0.8;
  font-size: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.villa-tumbak.bayuh .villa-underline,
.villa-cemagi .villa-underline,
.villa-alive .villa-underline,
.villa-loft .villa-underline,
.villa-canggu .villa-underline {
  width: 100%;
  height: 1rem;
  position: absolute;
  text-align: center;
  top: 2rem;
  background-color: #d4dce7;
  z-index: -1;
}

.villa-tumbak.bayuh:hover,
.villa-cemagi:hover,
.villa-loft:hover,
.villa-alive:hover,
.villa-canggu:hover {
  letter-spacing: 0.3rem;
}

.villa-card,
.villa-card-middle {
  display: flex;
  animation: transitionIn 500ms;
  width: 100%;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.details-outer {
  display: flex;
  justify-content: center;
}

.villa-content-details,
.villa-description {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.villa-description {
  font-size: 1.5rem;
}

.villa .cemagi-container,
.tb-container,
.c-container .loft-container {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cemagi-container {
  background-color: lavender;
}

.loft-container {
  background-color: lightblue;
}

.up-arrow {
  transform: rotate(90deg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  cursor: pointer;
  flex-basis: 100%;
  height: 10vh;
  bottom: 45%;
  right: 4rem;
  z-index: 2;
}

.up {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.up-arrow:hover {
  letter-spacing: 0.1rem;
  right: 4rem;
}
/* Tumbak Bayuh SubLink */

.tb-container {
  flex-direction: column;
  overflow: hidden;
}

.tb-gallery-1,
.tb-gallery-2 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
}

.tb-gallery-1 {
  height: 100vh;
  align-items: center;
}

.tb-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 70%;
  max-height: 100vh;
}

.tb-content-container {
  position: relative;
  flex-basis: 30%;
  height: 78.5vh;
  background: #d4dce7;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.tb-description,
.tb-details {
  display: flex;
}

.tb-description {
  flex: 1;
  align-items: center;
}

.tb-details {
  flex: 3;
  justify-content: center;
}

.t-details {
  width: 90%;
  text-align: justify;
}

.tumbak,
.cemagi {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  width: 100%;
}

.tb-location {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.tb {
  position: relative;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 15rem;
  bottom: -30rem;
}

.tb-container-2,
.tb-container-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.tb-gallery-2,
.tb-gallery-3 {
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-top-container,
.gallery-bottom-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}

.gallery-top-container {
  margin-bottom: 1rem;
}

.top-l-image-container,
.top-r-image-container,
.bottom-r-image-container,
.bottom-c-image-container,
.left-content-container,
.center-content-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.top-l-image-container,
.bottom-r-image-container {
  margin: 0 1rem;
}

.left-content-container {
  flex-direction: column;
  background-color: var(--dominant-color);
  opacity: 0.9;
}

.center-content-container {
  background-color: #d4dce7;
  flex-direction: column;
}

.villa-features {
  font-weight: 800;
  text-transform: uppercase;
  flex-direction: column;
  margin-top: 1rem;
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-ul {
  margin-left: 3rem;
  flex: 2;
}

.center-content {
  font-family: "Wremena-Light";
  font-size: 1.6rem;
  line-height: 1.6;
  word-wrap: normal;
}

.sub-content {
  margin: 1rem;
  display: flex;
  align-items: center;
  text-align: justify;
  flex: 1;
}

.sub-content-2 {
  margin: 1rem;
  display: flex;
  text-align: justify;
  flex: 1;
}

.tb-container-3 {
  justify-content: flex-end;
}

.tb-gallery-3 {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.main-image-container,
.sub-container,
.sub-image-container {
  display: flex;
}

.main-image-container {
  flex-basis: 60%;
}

.sub-container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 60%;
}

.sub-image-container {
  display: flex;
  justify-content: flex-end;
}

.sub-image {
  width: 98%;
}
.sub-content-container {
  margin-top: 1rem;
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: var(--dominant-color);
  opacity: 0.9;
}

/* Contact Us */

.contact-container {
  display: flex;
  justify-content: center;

  height: 90vh;
}

.contact-columns {
  display: flex;
  width: 90%;
  align-items: center;
  height: 80vh;
}

.contact-left {
  flex: 1;
  height: inherit;
  display: flex;
  align-items: center;
  height: 40vh;
  border-right: 1px solid black;
}

.contact-title {
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.contact-right {
  flex: 1;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.contact-details {
  width: 100%;
  text-align: center;
}

.contact-info {
  padding-bottom: 1rem;
}

.bold-contact {
  font-family: "Wremena-Light";
  font-size: 1.6rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }

  .hamburger {
    left: 2%;
    width: unset;
  }

  .glh-logo {
    width: 10%;
    /* top: 2.1rem; */
    right: 0.6rem;
  }

  .glh {
    text-align: right;
  }

  .logo {
    width: 70%;
  }

  .company-name {
    font-size: 1.6rem;
  }

  .toggle-links-Home,
  .toggle-links-Villa.Projects,
  .toggle-links-Contact {
    font-size: 6rem;
  }

  .pinterest-contact {
    height: 100vh;
    left: 1rem;
  }

  .pinterest-account,
  .glh-email {
    font-size: 1.4rem;
  }

  .email-contact {
    height: 100vh;
    right: 0.5rem;
  }

  .canggu-image-container {
    flex-direction: column;
  }
  .landing-container {
    height: 90vh;
  }

  .pool-div {
    width: unset;
    height: unset;
    justify-content: center;
  }

  .canggu-pool {
    max-width: 90%;
  }
  .reno-container {
    height: unset;
    position: relative;
    top: 2rem;
  }

  .reno-title {
    display: none;
  }

  .reno-location {
    position: absolute;
    bottom: 40rem;
    padding-left: 1.5rem;
  }

  .reno-description {
    top: 2rem;
    width: 95%;
    /* padding: 0; */
  }

  .r-descrip {
    font-size: 2rem;
  }

  .view-project {
    top: 5rem;
    position: relative;
    right: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-column {
    width: unset;
  }

  .about-right {
    display: none;
  }

  .about-left {
    flex-basis: unset;
  }

  .about-grant,
  .about-grant-2 {
    width: 75%;
    font-size: 1.8rem;
  }

  .contractor-name {
    margin-bottom: 3rem;
  }
  .grants-name {
    width: 75%;
    font-size: 4rem;
  }

  .about-button {
    margin-top: 6rem;
  }

  /* services */

  .services-container {
    height: unset;
  }

  .services-title-container {
    height: unset;
  }

  .services {
    width: 80%;
  }

  .cards-container {
    flex-direction: column;
  }

  .card-1,
  .card-2,
  .card-3 {
    margin-top: 3rem;
    height: 45vh;
  }

  .card-3 {
    margin-top: 9rem;
  }

  .service-type-1,
  .service-type-2,
  .service-type-3 {
    flex-basis: 15%;
  }
  .s-type {
    display: flex;
    align-items: center;
  }

  .s-description {
    width: 90%;
    text-align: justify;
  }
  .s-number {
    font-size: 5rem;
  }

  .services-button-container {
    height: unset;
    padding-top: 5rem;
  }

  /* before and afters*/
  .before-after-title {
    flex-basis: 10%;
    display: flex;
    align-items: flex-end;
  }

  .b-a-title {
    font-size: 3.5rem;
    width: 90%;
  }

  .before-after-title,
  .villa-name-container {
    justify-content: center;
  }

  .villa-name-container {
    padding-top: unset;
    flex-basis: 10%;
  }

  .villa-name {
    position: relative;
    top: unset;
    font-size: 2rem;
    left: 2rem;
    font-weight: 900;
  }

  .villa-content-container {
    flex-basis: 65%;
    align-items: flex-start;
  }

  .villa-image-container {
    justify-content: center;
  }

  .villa-image {
    max-width: 90%;
    min-width: 90%;
  }

  .villa-button-container {
    width: 100%;
    bottom: 3rem;
    justify-content: center;
  }

  .see-villa-button,
  .before-button,
  .after-button,
  .go-green,
  .go-green-after {
    left: unset;
    /* height: 100%; */
  }

  .button-inner {
    display: flex;
    width: 90%;
  }

  .before-button {
    border-left: solid 0.1rem grey;
  }

  .next-button-container {
    width: 100%;
    flex-basis: 10%;
    position: absolute;
    top: 65%;
    justify-content: space-between;
  }

  .next-button-left,
  .next-button-right {
    flex-basis: 20%;
  }

  .next-button-left:hover,
  .next-button-right:hover {
    background-color: unset;
  }

  /* Villa Projects Page */

  .preview-container {
    height: 280vh;
    width: 100%;
  }

  .preview-card {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: inherit;
  }

  .preview-image-container {
    height: 75vh;
  }

  .sub-link-tumbak.bayuh,
  .sub-link-cemagi,
  .sub-link-loft,
  .sub-link-alive {
    height: 5vh;
    display: flex;
    align-items: flex-end;
  }

  .villa-details-container {
    height: 10vh;
  }

  .preview-arrows {
    top: unset;
    position: relative;
    height: unset;
    bottom: 10rem;
  }

  .pl-arrow,
  .pr-arrow {
    color: black;
  }

  .villa-card-middle,
  .villa-card {
    margin: unset;
  }
  .villa-card-middle {
    margin-bottom: 2rem;
  }

  .villa-card {
    height: 100vh;
  }

  .up {
    width: 100%;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .up-arrow:hover {
    letter-spacing: 0.1rem;
    right: 2rem;
  }

  .up-arrow {
    right: 2rem;
  }

  /* TB gallery */

  .tb-gallery-1,
  .gallery-bottom-container,
  .tb-gallery-3 {
    flex-direction: column;
  }

  .tb-gallery-3,
  .tb-gallery-2,
  .tb-gallery-1 {
    width: 80%;
    justify-content: start;
  }

  .tb-image-container {
    flex-basis: unset;
  }

  .t-details {
    padding: 1rem 0rem;
  }

  .tb-content-container {
    height: unset;
    margin: 4rem 0 4rem 0;
  }

  .tb {
    display: none;
  }

  .gallery-top-container,
  .sub-container {
    flex-direction: column-reverse;
  }

  .top-l-image-container,
  .bottom-r-image-container {
    margin: 4rem 0rem;
  }

  .main-image-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .top-r-image-container,
  .center-content-container {
    margin: 0rem;
  }

  .bottom-c-image-container,
  .left-content-container {
    margin-top: 3rem;
  }

  .sub-content-container,
  .left-content-container {
    height: unset;
    margin: unset;
    margin-bottom: 4rem;
  }

  .sub-content-container {
    margin-top: 1rem;
  }

  .left-content-container {
    margin-bottom: 3rem;
  }

  .t-details {
    margin: unset;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .sub-content-2,
  .sub-content {
    padding: 0 2rem 1rem 2rem;
    margin: unset;
    font-size: 1.5rem;
  }

  .sub-image-container {
    margin-bottom: 4rem;
  }

  .content-ul {
    font-size: 1.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .center-content {
    padding: 0.5rem;
  }

  .pl-arrow,
  .pr-arrow {
    font-size: 4rem;
  }

  .pl-arrow {
    left: 0rem;
  }

  .pr-arrow {
    right: 2rem;
  }

  /* Contact Us*/
  .contact-columns {
    flex-direction: column;
  }

  .contact-left {
    border: unset;
    border-bottom: 1px solid black;
  }
}
