@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  /* width: 100%;
  height: 100%; */
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --dominant-color: #98ad9b;
  --secondary-color: #7e93b0;
  --background-color: white;
  --accent-color-1: #c4c4c4;
  --accent-color-2: #000;
}

/* Home Page */

.homepage-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-container {
  display: flex;
  height: 7vh;
  width: 100%;
}

.glh-logo,
.toggle-menu {
  position: fixed;
  display: flex;
  width: 100%;
}

.glh-logo {
  justify-content: flex-start;
  left: 0rem;
}

.toggle-menu {
  justify-content: flex-end;
}

.glh-name {
  display: flex;
  justify-content: center;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 88vh;
}

.pinterest-contact,
.glh-email {
  position: fixed;
}

.pinterest-contact {
  left: 0rem;
  transform: rotate(-90deg);
}

.glh-email {
  right: -1.5rem;
  transform: rotate(90deg);
}

.canggu-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  position: relative;
}

.canggu-front {
  width: 100%;
}

.hamburger {
  padding: 0.3rem;
  font-size: 3rem;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  right: 1rem;
}

.toggle-container {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
  animation: expand 1400ms ease forwards;
  z-index: 4;
}
@keyframes expand {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

.toggle-navigation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toggle-links {
  text-decoration: none;
  color: var(--accent-color-2);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.2rem;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

/* About */

.about-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.about-column {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 2);
  flex-shrink: 0;
}

.about-left {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dominant-color);
  height: 88vh;
  border-radius: 0 8rem 0 8rem;
  flex-basis: 90%;
  flex-shrink: 0;
}

.grants-name {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  flex-basis: 40%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1.4rem;
  width: 80%;
  padding-left: 2rem;
}

.about-bio {
  display: flex;
  width: 80%;
  flex-basis: 60%;
  padding: 2rem;
}

.about-grant {
  font-size: 2rem;
}

.square-border {
  border: solid 8px black;
  width: 100%;
  height: 70vh;
  display: flex;
  right: 15rem;
  position: absolute;
  flex: 1;
}

.grant-image {
  display: flex;
}

.granite {
  height: 60vh;
  position: relative;
  right: 2rem;
}

/* Contact */

.footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

.glh-number {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
